pandas
numpy
matplotlib
seaborn
scikit-learn
ipykernel
statsmodels
imbalanced-learn
xgboost
optuna
pymongo[srv]==3.11
pymongo
dotenv
certifi
## -e . Refering to setup.py for get the package dependencies